# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
parameters:
  POOL: CBS-OnPrem
  POOL_image: ubuntu-latest

trigger:
  batch: true
  branches:
    include:
      - develop
      - feature/*
      - release/*
      - master
  paths:
    include:
      - src

pool:
  name: ${{ parameters.POOL }}
  vmImage: ${{ parameters.POOL_image }}



steps:
- task: DotNetCoreCLI@2
  inputs: 
    command: build

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
    projects: '**/*Tests*.csproj'
